* {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif!important;
    letter-spacing: .3px;
    color: #47525d;
    font-weight: 100;
}

body {
    background: #f6f9fc;
    margin: 0;
}

.bot-containers {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.bot-containers .bot-container {
    display: flex;
    flex-direction: column;
    width: 50%
}

.bot-containers .bot-container textarea {
    flex-grow: 1;
}
